<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skippers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis debitis id a mollitia qui rerum, harum dolorem tempore earum ut voluptatibus laborum nisi doloribus officiis? Rem mollitia architecto vitae porro.
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
  <script type="text/javascript" src="skippers_for_web.json"></script>
  <script src="main.js"></script>
</body>
</html>
